<div class="container-fluid footer <%= 'homepage' if controller_name == 'homepage' %> <%= 'error' if controller_name == 'error' %>">
  <footer>
    <div class="row uhl-footer">
      <div class="row-fluid footer-inner">
          <div class="col-md-12 footer-links">
            <ul class="footer-links-list">
              <li><a href="https://libraries.uh.edu/" title="Libraries Home">Libraries Home</a></li>
              <li><%= link_to t(:'hyrax.controls.about'), hyrax.about_path %></li>
              <li><%= link_to t(:'hyrax.controls.help'), hyrax.help_path %></li>
              <li><a href="https://libraries.uh.edu/contact/feedback" title="Give Us Feedback">Give Us Feedback</a></li>
              <li><a href="https://libraries.uh.edu/policies/privacy" title="Privacy Policy">Privacy Policy</a></li>
              <li><%= link_to "Staff Interface", hyrax.dashboard_path %></li>
            </ul>
          </div>
      </div>
      <div class="row-fluid global-footer">
        <div class="container">
          <a href="https://www.uh.edu" class="copyright" title="University of Houston">&copy;<%= Time.current.year %> University of Houston. All rights reserved.</a>
          <ul class="nav-required">
            <li class="nav-item-highlighted"><a href="https://libraries.uh.edu/contact/feedback">Report a problem with this page</a></li>
            <li><a href="http://www.texas.gov/">Texas.gov</a></li>
            <li><a href="https://gov.texas.gov/organization/hsgd">Texas Homeland Security</a></li>
            <li><a href="https://www.tsl.texas.gov/trail/index.html">TRAIL</a></li>
            <li><a href="https://sao.fraud.texas.gov/">Fraud Reporting</a></li>
            <li><a href="http://www.sos.state.tx.us/linkpolicy.shtml">Linking Notice</a></li>
            <li><a href="http://uhsystem.edu/privacy-notice/">Privacy Notice</a></li>
            <li><a href="https://www.uh.edu/legal-affairs/general-counsel/texas-public-information/">Open Records/Public Information Act</a></li>
            <li><a href="http://www.thecb.state.tx.us/apps/resumes/">Institutional Résumé</a></li>
            <li><a href="https://www.uh.edu/finance/pages/State_Report.htm">Required Reports</a></li>
            <li><a href="https://www.uh.edu/marcom/guidelines-policies/web-accessibility/">Electronic &amp; Information Resources Accessibility</a></li>
            <li><a href="https://www.uh.edu/legal-affairs/equal-opportunity/titleIX-sexual-misconduct/">Title IX-Sexual Misconduct</a></li>
            <li><a href="https://www.uh.edu/policies/">University Policies</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
