<p>Someone sent you a comment<p>
<hr />
<span style="font-weight: 700">Page:</span> <span><%= @url %></span><br/>
<span style="font-weight: 700">User Agent:</span> <span><%= @user_agent %></span><br/>
<span style="font-weight: 700">Type:</span> <span><%= @type %></span><br/>

<p><span style="font-weight: 700">Email:</span> <span><%= @from_address %></span></p>

<p><%= @comment %></p>