<script type="text/javascript" id="embedUV" src="/uv-2.0.2/lib/embed.js"></script>
<div class="viewer-wrapper">
  <div class="uv viewer" data-uri="<%= main_app.polymorphic_url [main_app, :manifest, presenter], { locale: nil } %>"></div>
</div>
<div class="download-container">
  <div class="download-options">
    <span class="title">Download Options</span>
    <% if presenter.editor? ||  presenter.download_all? || presenter.download_low?%>
      <div class="download-list">
        <div class="download-btn">
          <a href="#" id="download-link-small" class="small-btn" title="Download small image">400px</a>
        </div>
        <% if presenter.editor? || presenter.download_all? %>
          <div class="download-btn">
            <a href="#" id="download-link-medium" class="medium-btn" title="Download medium image">800px</a>
          </div>
          <div class="download-btn">
            <a href="#" id="download-link-large" class="large-btn" title="Download large image">1200px</a>
          </div>
          <div class="download-btn">
            <a href="#" id="download-link-org" class="org-btn" title="Download original image" target="_blank">Original</a>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="download-message">
        <span class="download-unavailable">Download options are unavailable</span>
      </div>
    <% end %>
    <div class="download-manifest">
      <%= link_to (image_tag 'iiif_logo.png', alt: "IIIF"), (main_app.polymorphic_url [main_app, :manifest, presenter], { locale: nil }), class: 'download-link-manifest', target: '_blank', title: 'Get manifest' %>
    </div>
  </div>
</div>
<script type="text/javascript">
  var isFullScreen = false;
  $(document).on('armand.onCurrentViewUri', (e, uri) => {
    var match = uri.fullUri.match(/<%= Settings.iiif.endpoint_url.gsub('/', '\/') %>\/?([^\/]+)/i);
    if (match) {
      var file_id = match[1];
      var document_id = file_id.split('%2F', 3)[0];
      var base_url = "<%= Settings.iiif.endpoint_url %>";
      var small_path = "/full/!400,400/0/default.jpg";
      var medium_path = "/full/!800,800/0/default.jpg";
      var large_path = "/full/!1200,1200/0/default.jpg";

      $("#download-link-small").attr("href", `${base_url}/${file_id}${small_path}?response-content-disposition=attachment%3B%20filename%3Dimage.jpg`);
      $("#download-link-medium").attr("href", `${base_url}/${file_id}${medium_path}?response-content-disposition=attachment%3B%20filename%3Dimage.jpg`);
      $("#download-link-large").attr("href", `${base_url}/${file_id}${large_path}?response-content-disposition=attachment%3B%20filename%3Dimage.jpg`);
      $("#download-link-org").attr("href", `${window.location.protocol}//<%= Settings.armand.host %>/downloads/${document_id}`);
    }
  });
  $(document).on('fullscreenchange webkitfullscreenchange mozfullscreenchange MSFullscreenChange', function (e) {
    if (isFullScreen) {
      $('.uv.viewer iframe')[0].contentWindow.$.publish('armand.onExitFullScreen', isFullScreen);
      isFullScreen = false;
    }
    else {
      isFullScreen = true;
    }
  });
</script>