<fieldset>
  <legend>
    Download Options
    <small>What options do people have to download the object?</small>
  </legend>

  <div class="form-group">
    <label class="radio">
      <%= f.radio_button :download_option, Armand::DownloadControl::DOWNLOAD_TEXT_VALUE_ALL) %>
      <div class="form-inline">
        <%= download_badge(Armand::DownloadControl::DOWNLOAD_TEXT_VALUE_ALL) %>
      </div>
    </label>
    <label class="radio">
      <%= f.radio_button :download_option, Armand::DownloadControl::DOWNLOAD_TEXT_VALUE_LOW %>
      <div class="form-inline">
        <%= download_badge(Armand::DownloadControl::DOWNLOAD_TEXT_VALUE_LOW) %>
      </div>
    </label>
    <label class="radio">
      <%= f.radio_button :download_option, Armand::DownloadControl::DOWNLOAD_TEXT_VALUE_NONE %>
      <div class="form-inline">
        <%= download_badge(Armand::DownloadControl::DOWNLOAD_TEXT_VALUE_NONE) %>
      </div>
    </label>
  </div>
</fieldset>
