<fieldset class="set-access-controls">
  <legend>
    Visibility
    <small>Who should be able to view or download this content?</small>
  </legend>

  <div class="form-group">
    <label class="radio">
      <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC %>
      <%= visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC) %>
    </label>
    <label class="radio">
      <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED %>
      <%= visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED) %>
    </label>
    <% if self.respond_to?(:ip_address) %>
    <label class="radio">
      <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_IP %>
      <div class="form-inline">
        <%= visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_IP) %>
        <%= f.input :ip_address, as: :multi_value, wrapper: :inline, include_blank: false, label: 'IP Address' %>
      </div>
    </label>
    <% end %>
    <label class="radio">
      <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE %>
      <%= visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE) %>
    </label>
  </div>
</fieldset>
