<% provide :page_title, @presenter.page_title %>
<% render 'social_media_card', presenter: @presenter %>

<div class="row work-type">
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-xs-12">
    <%= render 'work_title', presenter: @presenter %>
    <%= render 'show_actions', presenter: @presenter %>
    <div class="work-type-body row">
      <%= render 'workflow_actions_widget', presenter: @presenter %>
      <div class="col-sm-7 object-viewer">
        <%= render 'representative_media', presenter: @presenter, viewer: @presenter.iiif_viewer? %>
      </div>
      <div class="col-sm-5">
        <%= render 'short_metadata', presenter: @presenter %>
        <%= render 'view_finding_aid', presenter: @presenter %>
        <%= render 'form_feedback', presenter: @presenter %>
        <%= render 'social_media', presenter: @presenter %>
      </div>
    </div>

    <div class="work-type-extensions row">
      <%= render 'extensions', presenter: @presenter %>
    </div>

  </div>
  <%= render 'ga_events', presenter: @presenter %>
</div>